<% include ./partials/header %>
<div >
    <div >
        Edit Answer
    </div>

    <form  action="/forums/<%=forum._id%>?_method=PUT" method = "POST">

        <div >
            <label >Title</label>
            <input type="text" name="forum[title]" value="<%= forum.title%>">
        </div>
        <div >
            <label >Image</label>
            <input type="text" name="forum[image]" value="<%= forum.image%>">
        </div>
        <div >
            <label >Body of the blog</label>
            <textarea name="forum[forum]" ><%= forum.body%></textarea>
        </div>
        <input class="ui violet big basic button" type="submit">
    </form>
</div>

<% include ./partials/footer %>