<html>
    <head>
        <title>The Discussion Forum</title>
        <link rel="stylesheet" type="text/css" href="app.css">
    </head>
    <body id="c" >
        <div class="topnav">
           <p>
            <img src="logo.jpeg" height="25" width="25" style="border-radius:50px;">
            <a class="av" href="/forums">HOME&nbsp;&nbsp;&nbsp;&nbsp;</a>
            <a class="av" href="/forums/meet">MEET THE TEAM&nbsp;&nbsp;&nbsp;&nbsp;</a>
            <a class="av" href="/forums/new" style="padding-right:380px;">ADD QUESTION</a>
            <a class="av" href="/forums">CREATE ACCOUNT&nbsp;&nbsp;&nbsp;&nbsp;</a>
            <a class="av" href="/forums">LOGIN TO ACCOUNT</a>
          </p>
        </div>