<% include ./partials/header %>

<center>
    <p1>
        <font size="30" color="white" face="Comic Sans MS">TEAM MEMBERS</font>
    </p1>
</center>
<table>
	<tr>
		<td>
			<div class="test"><img src="" width="100" height="120"><h3>AMAN KUMAR GOYAL <br>BACKEND</h3><p class="para">
			
		    </p></div>
		</td>
		    <td></td><td></td><td></td><td></td><td></td>
		<td>
			<div class="test"><img src="" width="100" height="120"><h3>ARPIT VERMA<br>FRONTEND</h3><p class="para">
			
		    </p>
		    </div>
		</td>
		<td></td><td></td><td></td><td></td><td></td>
		<td>
			<div class="test"><img src="" width="100" height="120"><h3>AMAN YADAV<br>FRONTEND</h3><p class="para">
		    </p>
		    </div>
		</td>
		<td></td><td></td><td></td><td></td><td></td>
	</tr>
</table>

<% include ./partials/footer %>