<% include ./partials/header %>

<center>
    <p1>
        <font size="30" color="white" face="Comic Sans MS">TEAM MEMBERS</font>
    </p1>
</center><br><br>
<table>
	<tr>
		<td>
			<div class="test"><img src="https://media.licdn.com/dms/image/C5103AQFpsYHu2fUa8w/profile-displayphoto-shrink_200_200/0?e=1579737600&v=beta&t=-_worU26iHKBpte1IVRpXaINHaYbSJO-l9Q9zDoYs8k" width="100" height="120" style="border-radius:200px; transform: translate(100px,30px);" ><h3 class="para">AMAN KR. GOYAL <br>BACKEND</h3>
			
		    </div>
		</td>
		    <td></td><td></td><td></td><td></td><td></td>
		<td>
			<div class="test"><img src="https://scontent.fdel3-1.fna.fbcdn.net/v/t1.0-9/p720x720/31659936_301644750369112_7063497197752418304_o.jpg?_nc_cat=108&_nc_oc=AQnjMByXB5Fy411CoreK0djKe2SBkk43PVmZRK3T5LorQJcs051vH11wM4qyUpczfEYpFfhyyQdJarC12SGaBNDD&_nc_ht=scontent.fdel3-1.fna&oh=8d4e7a33158d929cf75101d32cc0858c&oe=5E4F2501" width="100" height="120" style="border-radius:200px;transform: translate(100px,30px);"><h3 class="para">ARPIT VERMA<br>FRONTEND</h3>
			
	
		    </div>
		</td>
		<td></td><td></td><td></td><td></td><td></td>
		<td>
			<div class="test"><img src="https://scontent.fdel3-1.fna.fbcdn.net/v/t1.15752-9/74449995_1022007871466578_3010806313975283712_n.jpg?_nc_cat=110&_nc_oc=AQnTzijDNJXzAWjXbfzfjpPKPvpvVK2K9bqS5s6T7yskShpjCYZRWILA_IYhmohxbrQE4PSOLkNHw835ZFYDz6LW&_nc_ht=scontent.fdel3-1.fna&oh=09571933df2f6288a3bd9bef9a6b7a1c&oe=5E865393" width="100" height="120" style="border-radius:200px;transform: translate(100px,30px);"><h3 class="para">AMAN YADAV<br>BACKEND</h3>
	
		    </div>
		</td>
		<td></td><td></td><td></td><td></td><td></td>
	</tr>
</table>

<% include ./partials/footer %>