<% include ./partials/header %>
<div >
        <p align="center" ><font face="Comic Sans MS" color="white" size="25"><u>ADD A NEW QUESTION</u></font></p>
        <form id="form1" action="/forums" method = "POST">
            <div>
                <label >QUESTION:-</label> <br> 
                <textarea name="forum[question]" rows="10" cols="50"></textarea>
            </div><br>
            
            <input type="submit" value="ADD QUESTION" style="color: beige;background-color: black;font-size: 20px;">
        </form>
</div>

<% include ./partials/footer %>