<% include ./partials/header %>

<p align="center"><font face="Comic Sans MS" color="white" style="font-size: 50px;"><u>SignUp</u></font></p><br>
<div  style="transform: translate(550px,0px);">
<form action="/register" method="POST">
    <font face="Comic Sans MS" color="white" style="font-size:30px;">USERNAME:-</font><input type="text" name="username" placeholder="username"><br>
    <font face="Comic Sans MS" color="white" style="font-size:30px;">PASSWORD:-</font><input type="password" name="password" placeholder="password"><br><br>
    <input type="submit" value="SignUp" style="color: beige;background-color: black;font-size: 30px;">
</form>
</div>

<% include ./partials/footer %>